<!-- Contato e Endereço -->
<div class="contact-info py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <img
          src="https://res.cloudinary.com/dbvrcvakd/image/upload/v1717718728/logo_lobo_z7o94n.png"
          alt="Logo"
          width="140"
        />
        <p>Vem, que aqui sai negócio!</p>
      </div>
      <div class="col-md-4 text-center">
        <p><strong>Endereço:</strong> Rua Exemplo, 123, Cidade, Estado, CEP</p>
        <p><strong>Telefone:</strong> (11) 1234-5678</p>
      </div>
      <div class="col-md-4 text-center">
        <p><strong>Email:</strong> contato@lobomotos.com.br</p>
        <p><strong>Horário de Funcionamento:</strong> Seg-Sex: 9:00-18:00</p>
      </div>
    </div>
  </div>
</div>
