<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://res.cloudinary.com/dbvrcvakd/image/upload/v1717718728/logo_lobo_z7o94n.png"
        alt="Logo"
        width="140"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Institucional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.honda.com.br/pos-venda/motos/"
            >Peças e Acessórios</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.honda.com.br/motos/honda-store/"
            >Honda Store</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
